
.hr-emp-reports {
    .card-header {
        background-color: #00acc1 !important;
        font-family: 'Open Sans', sans-serif;
    }

    .card-body {
        background-color: #e0f7fa; //50
    }

    ::ng-deep .p-datatable-thead tr th.right-align,
    ::ng-deep .p-datatable-tbody tr td.right-align {
        text-align: right !important;
    }

    ::ng-deep .p-datatable-tbody tr td.abnormal {
        color: red;
    }

    .search-container {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 300px;

        .search-icon {
            position: absolute;
            left: 10px;
            font-size: 10px;
            color: gray;
        }

        input {
            font-size: 12px;
            padding-left: 30px !important;
            width: 100%;
            border-radius: 5px;
            border: 1px solid gray;
            padding: 5px;
            margin-right: 10px;
        }           
    }

    ::ng-deep .p-paginator {
        font-size: 12px;
        background-color: #e0f7fa; //50
    }

    ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: #00acc1;
        color: #fff;
    }

    ::ng-deep .p-paginator p-dropdown .p-paginator-rpp-options{
        height: 1.5rem;

        span.p-dropdown-label.p-inputtext{
            // padding: 3px;
            padding: 1px 3px 3px 3px;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
        }

        .p-dropdown-trigger{
            height: 25px;
        }
    }
}