<div class="main-content assign-role-grid">
    <div class="page-content">
        <div class="container-fluid">
            <p-toast></p-toast>
            <div class="row">
                <div class="col">
                    <div class="h-100">
                        <div class="row row-body">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive table-card">
                                            <p-table [value]="roles"
                                                [tableStyle]="{ 'min-width': '50rem', 'width': '100%' }"
                                                [paginator]="roles.length > 0" [rows]="10"
                                                [rowsPerPageOptions]=[10,20,30,40,50]
                                                [showCurrentPageReport]="roles.length > 0"
                                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                #dt2 [globalFilterFields]="['request_id', 'employee_name','project_name','country','travel_location', 'status']">
                                                <ng-template pTemplate="caption">
                                                    <h4 class="card-title mb-0 flex-grow-1 table-title">List</h4>
                                                    <div class="add">
                                                        <i class="fas fa-user-plus" (click)="navigateToCreate()"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="Create Request"></i>
                                                    </div>
                                                    <div class="search-container">
                                                        <i class="fas fa-search search-icon"></i>
                                                        <input type="text" pInputText
                                                            (input)="applyFilterGlobal($event, 'contains')"
                                                            placeholder="Search...">
                                                    </div>
                                                </ng-template>
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th pSortableColumn="request_id">Request Id <p-sortIcon
                                                                field="request_id" /></th>
                                                        <th pSortableColumn="employee_name">Name <p-sortIcon field="employee_name" /></th>
                                                        <th pSortableColumn="project_name">Project Name <p-sortIcon
                                                                field="project_name" /></th>
                                                        <th pSortableColumn="country">Country<p-sortIcon
                                                                field="country" /></th>
                                                        <th pSortableColumn="travel_location">Travel Location<p-sortIcon
                                                                field="travel_location" /></th>
                                                        <th pSortableColumn="status">Status <p-sortIcon
                                                                field="status" /></th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-role>
                                                    <tr>
                                                        <td><a (click)="navigateToViewRole(role.request_id)"
                                                                class="site-update-link">{{role.request_id}}</a></td>
                                                        <td>{{role.employee_name}}</td>
                                                        <td>{{role.project_name}}</td>
                                                        <td>{{role.country}}</td>
                                                        <td>{{role.travel_location}}</td>
                                                        <td>{{role.status}}</td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="emptymessage">
                                                    <tr>
                                                        <td colspan="7" class="text-center">No data found</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>